header {
    background-color: rgba(40,40,40,255);
    background-size: cover;
    min-height: 100vh;
}

nav {
  background-color: rgba(45,45,45,0.1); /*Sets top bar color*/
}

.main-logo {
  text-align:center;
}


.brand-logo {
    
    font-family: Oswald;
}
.brand-logo span {
  color: aqua;
}

nav li {
  letter-spacing: 0.05em; /*Sets letter spacing*/
  font-family: Oswald;
}

/*@media gets viewport screen and make changes if value is under specified size*/
@media screen and (max-width: 405px) {
  nav .brand-logo {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 330px) {
  nav .brand-logo {
    font-size: 1.2rem;
  }
}

/* GLOBAL STYLES */
h1 {
  background: transparent;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
}

@media screen and (max-width: 405px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 330px) {
  h1 {
    font-size: 1.2rem;
  }
}

/* TYPEWRITER EFFECT TO REDO */

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: Oswald;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid aqua; /* The typwriter cursor */
  white-space: pre; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(29, end),
    blink-caret 1.0s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: aqua }
}

/* TYPEWRITER EFFECT TO REDO */

/* Main styles */

.section {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.row .col {
  padding: 0;
}

.margin-topless {
  margin-top: 0;
}

.margin-bottomless {
  margin-bottom: 0;
}

.material-tooltip {
  background-color: transparent;
}